.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoicon {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.bannercontainer {
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://picsum.photos/500/500);
    background-position: center;
}

.profilecontent {
    display: flex;
    justify-content: space-evenly;
}

.profileitem {
    text-align: center;
}

.profileicon {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/500/500);
    background-size: cover;
    border-radius: 50%;
}

.divider {
    flex: 2;
}

@media only screen and (max-widht: 520px) {
    .navcontainer {
        flex-direction: column;
    }
}